@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.eot');
    src: local('fonts/TTLakes-Regular'), local('TTLakes-Regular'),
        url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Regular.woff') format('woff'),
        url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;}
@font-face {
        font-family: 'TT Lakes Condensed';
        src: url('fonts/TTLakesCondensed-Bold.eot');
        src: local('fonts/TTLakesCondensed-Bold'), local('TTLakesCondensed-Bold'),
            url('fonts/TTLakesCondensed-Bold.eot?#iefix') format('embedded-opentype'),
            url('fonts/TTLakesCondensed-Bold.woff') format('woff'),
            url('fonts/TTLakesCondensed-Bold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;}
body{
    width: auto;
}
.sidebar{
font-family: 'TT Lakes';
width: 320px;
height: 1100px;
font-size: 16px;
margin-right: auto;

box-shadow: 10px 0 50px 30px #353f4934;
}
.sidebar__header{
display: flex;
align-items:center;
padding-top: 30px ;
margin-bottom: 32px;
}
.sidebar__header :nth-child(n){
margin-left: 24px;
}
.sidebar__header :nth-child(2){
margin-right: auto;
}
.sidebar__header :nth-child(3){
    margin-right: 24px;
}
ul.sidebar__list{
margin-left: -40px;
list-style-type: none;
}
.sidebar__list-elem{
display: flex;
justify-content: flex-start ;
align-items:center;
margin-top: 20%;
}
.sidebar__list-elem:hover{
     font-size: 18px;
     background-color:#0000000a ;
     transition-duration: 0.2s;
     cursor: pointer;
}
a{
  text-decoration: none; 
  color: black;
}
a:hover{
    color:#7E7E82;
}
.sidebar__list-elem:hover.sidebar__list-elem :nth-child(1){
    position: absolute;
    width: 3px;
    height: 30px;
    border-radius:  0% 10px 10px 0%;
    background: #41F6D7;
    transition-duration: 0.2s;

}
.sidebar__list-elem :nth-child(2){
    position: absolute;
    margin-left: 20px; 
}

.sidebar__list-elem_marder{
 margin-left: 20px;
}

.title__elem1{
    width: 4px;
    left: 4px;
    top: 22.22%;
    bottom: 69.84%;
    height: 40px;
    background: #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.sidebar_bottom{
 display: flex;
 padding-top: 268px;
}
.sidebar_bottom :nth-child(n){
padding-left: 16px;
}
.sidebar_bottom :nth-child(1){
 padding-left: 24px;
}
.sidebar__mail{
padding-top: 16px;
padding-left: 24px;
padding-bottom: 12px;
}
.sidebar_phone{
    font-family: 'TT Lakes Condensed';
    font-size: 24px;
    margin-left: 24px;
    margin-bottom: 64px;
}
.sidebar__language :nth-child(n):hover{
    color: #7E7E82;
    font-size: 18px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.sidebar__language :nth-child(n){
margin-top: -24px;
}
.sidebar__language :nth-child(1){
    margin-left: 24px; 
    position: absolute; 
}
.sidebar__language :nth-child(2){
    margin-left: 60px;  
    position: absolute;
}
.sidebar__language :nth-child(3){
    margin-left:95px; 
    position: absolute; 
}





